@import '../../scss/colors.scss';

.mainWindow {
  height: 100%;
  width: 100%;

  .empty {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25px;
    background-color: $emptyWindow;
  }
}
