$mainFont: #011328;
$btnFont: #4b3a1d;
$altFont: #fff;
$filterFont: #fff;
$disabledFont: #1f405b;
$infoDisabledFont: #43515f;
$disabledMenuFont: #888;
$emptyWindowFont: #edf7fd;
$statusFont: #0070ae;
$errorFont: #992024;

$bgrndPrimary: #fff;

$main: #a3daf5;
$mainHover: #3fbaff;
$mainActive: #1793d9;
$mainBorder: #3b5a68;
$mainBgrnd: #70c6eb;
$mainOddBgrnd: #61aed4;
$active: #fab54a;
$activeBorder: #a9844c;
$btn: #fab54a;
$btnActive: #e6a545;
$btnImporterPrime: #00a3ff;
$btnImporterPrimeHover: #1693d9;
$btnImporterPrimeActive: #45ace5;
$btnImporterSecondary: #ff5500;
$btnImporterSecondaryHover: #d95716;
$btnImporterSecondaryActive: #e57339;
$btnInactive: #5b7e9a;
$mainInactive: #8cbbce;
$mainInactiveOddBgrnd: #7ba5ba;

$sidebarBgrnd: #a6dbf2;
$sidebarInactiveBgrnd: #b7d4e1;
$sidebarScroll: #fab54a;
$sidebarScrollHover: #e6a545;
$scrollBorder: #8c8c8c;

$inputBgrnd: #fff;
$inactiveInputBgrnd: #97b6c4;
$emptyWindow: #edf7fd;
$modalWindow: #caeafd;

$menuActiveBgrnd: #ddd;
$submenuActiveBgrnd: #0087f5;

$errMessage: #d92e34;
$errInputBgrnd: #ffc8b2;
$errInputBorder: #f2242b;

$infoBlock: #e1edf4;
$infoBlockInactive: #e3eef2;
$collapser: #a6dbf2;
$collapserDisabled: #b7d4e1;
$collapserActive: #1777a1;
$collapserActiveDisabled: #6696ae;
$infoBtn: #a6dbf2;
$infoBtnDisabled: #e1edf4;
$infoBtnBorder: #e1edf4;
$infoBtnBorderDisabled: #999;

$selectorDisabled: #ddd;
$selectorBorderDisabled: #bbb;
$selectorFontDisabled: #666;

$logo: #00a3ff;
